<h2 class="subject">プロフィール編集</h2>
<div class="new-project">
  <%= form_with model:@influencer, local:true do |f| %>
  <table>
    <tr>
      <td><%= f.attachment_field :image %></td>
    </tr>
    <tr>
      <td><%= f.text_field :nickname, autofocus: true, id:"inputName", placeholder:"活動名"%></td>
    </tr>
    <tr>
      <td><%= f.text_field :follower_count, autofocus: true, id:"inputName", placeholder:"総フォロワー数"%></td>
    </tr>
    <tr>
      <td><%= f.text_area :details , autofocus: true, id:"inputName",  rows: 10, cols: 60, placeholder:"自己紹介文"%></td>
    </tr>
    <tr>
      <td><%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"氏名"%></td>
    </tr>
    <tr>
      <td><%= f.text_field :name_kana, autofocus: true, id:"inputName", placeholder:"氏名かな"%></td>
    </tr>
    <tr>
      <td><%= f.text_field :address, autofocus: true, id:"inputName", placeholder:"住所"%></td>
    </tr>
    <tr>
      <td><%= f.text_field :email, autofocus: true, id:"inputName", placeholder:"Email"%></td>
    </tr>
    <tr>
      <td><%= f.text_field :phone_number, autofocus: true, id:"inputName", placeholder:"電話番号"%></td>
    </tr>
    <!--<tr>-->
    <!--  <td><%#= f.text_field :tags, value: @influencer.tags.join(','), class: "form-control", id:'project-tags',placeholder: "タグ 複数可" %></td>-->
    <!--</tr>-->
  </table>
    <div class="table-btn"><%= f.submit "変更を保存",class:"btn btn-primary" %></div>
  <% end %>
</div>