<h2>プロフィール編集</h2>
<%= form_with model:@influencer, local:true do |f| %>
  <label for="inputName">活動名</label>
  <%= f.text_field :nickname, autofocus: true, id:"inputName", placeholder:"活動名"%>
  <%= f.text_field :details, autofocus: true, id:"inputName", placeholder:"自己紹介文"%>
  <%= f.attachment_field :image %>
  <%= f.submit "変更を保存" %>
<% end %>
<%= link_to "戻る", influencers_path %>