<h2 class="subject">MyPage</h2>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <%= attachment_image_tag(@influencer, :image, :fill, 300, 300, format: 'jpeg', fallback: "sample-author1.jpg") %>
      <% if influencer_signed_in? %>
        <% if @influencer.id == current_influencer.id %>
          <p><%= link_to "プロフィール編集", edit_influencer_path(@influencer),class: 'btn-group' %></p>
        <% end %>
      <% elsif company_signed_in? %>
        <%= link_to "申請",  new_influencer_project_path(influencer_id: @influencer),class: 'btn-group' %>
      <% end %>
    </div>
    <div class="col-lg-8">
    <p>【 名前 】<%= @influencer.nickname%></p>
    <p>【 プロフィール 】<%= @influencer.details %></p>
    <p>【 登録日】<%= @influencer.created_at.strftime('%Y/%m/%d') %></p>
    <%# @projects.tags.each do |tag| %>
      <!--<div class="tags">-->
         <%#= tag.name %>
      <!--</div>-->
    <%# end %>
    <div class="">
     <div id="star-rate-<%#= influencer.id %>"></div>
     <script>
     $('#star-rate-<%#= influencer.id %>').raty({
       size: 36,
       starOff:  '<%= asset_path('star-off.png') %>',
       starOn : '<%= asset_path('star-on.png') %>',
       starHalf: '<%= asset_path('star-half.png') %>',
       scoreName: 'influencer[rate]',
       scoreName: 'company[rate]',
       half: true,
       readOnly: true,
       score: <%#= influencer.rate %>,
     });
     </script>
    </div>
    <div class="">
      <%#= influencer.rate %>
    </div>
    </div>
  </div>
</div>


