<h2 class="subject">MyPage</h2>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <%= attachment_image_tag(@influencer, :image, :fill, 300, 300, format: 'jpeg', fallback: "sample-author1.jpg") %>
      <% if influencer_signed_in? %>
        <% if @influencer.id == current_influencer.id %>
          <p><%= link_to "プロフィール編集", edit_influencer_path(@influencer),class: 'btn-group' %></p>
          <%= link_to "戻る", influencers_path,class: 'btn-group' %>
        <% end %>
      <% elsif company_signed_in? %>
        <%= link_to "戻る", companies_path,class: 'btn-group' %>
        <%= link_to "申請",  new_influencer_project_path(influencer_id: @influencer),class: 'btn-group' %>
      <% end %>
    </div>
    <div class="col-lg-8">
    <p>【 名前 】<%= @influencer.nickname%></p>
    <p>【 プロフィール 】<%= @influencer.details %></p>
    <p>【 登録日】<%= @influencer.created_at.strftime('%Y/%m/%d') %></p>
    <%# @projects.tags.each do |tag| %>
      <!--<div class="tags">-->
         <%#= tag.name %>
      <!--</div>-->
    <%# end %>
    </div>
  </div>
</div>


