<h2 class="subject">MyPage</h2>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <%= attachment_image_tag(@influencer, :image, :fill, 300, 300, format: 'jpeg', fallback: "noimage1.jpg") %>
      <% if influencer_signed_in? %>
        <% if (@influencer.id == current_influencer.id) && (current_influencer.email != "guest1@example.com") %>
          <p><%= link_to "プロフィール編集", edit_influencer_path(@influencer),class: 'btn-group' %></p>
        <% end %>
      <% elsif company_signed_in? %>
        <%= link_to "申請",  new_influencer_project_path(influencer_id: @influencer),class: 'btn-group' %>
      <% end %>
    </div>
    <div class="col-lg-8">
      <p>【 名前 】<%= @influencer.nickname%></p>
      <p>【 プロフィール 】<%= @influencer.details %></p>
      <p>【 総フォロワー数 】<%= @influencer.follower_count %></p>
      <p>【 登録日】<%= @influencer.created_at.strftime('%Y/%m/%d') %></p>
      <div class="review-star">
        <% @influencer.reviews.each do |review| %>
         <div class="review-box" id="star-rate-<%= review.id %>"></div>
         <script>
         $('#star-rate-<%= review.id %>').raty({
           size: 36,
           starOff:  '<%= asset_path('star-off.png') %>',
           starOn : '<%= asset_path('star-on.png') %>',
           starHalf: '<%= asset_path('star-half.png') %>',
           scoreName: 'influencer[rate]',
           scoreName: 'company[rate]',
           half: true,
           readOnly: true,
           score: <%= review.rate %>,
         });
         </script>
        <div class="review-box"><%= review.rate %></div>
        <div class="review-box"><%= review.comment %></div>
        <% end %>
         <div class="review-box">（平均値<%= @influencer.avg_rate %>点）</div>
      </div>
    </div>
  </div>
</div>


