<h1>MyPage</h1>
<%= attachment_image_tag(@influencer, :image, :fill, 300, 300, format: 'jpeg', fallback: "sample-author1.jpg") %>
<p>活動名 :<%= @influencer.nickname%></p>
<p>自己紹介文 :<%= @influencer.details %></p>
<p>登録日：<%= @influencer.created_at.strftime('%Y/%m/%d') %></p>

  <% if influencer_signed_in? %>
    <% if @influencer.id == current_influencer.id %>
      <p><%= link_to "プロフィール編集", edit_influencer_path(@influencer) %></p>
      <%= link_to "戻る", influencers_path %>
    <% end %>
  <% elsif company_signed_in? %>
    <%= link_to "申請",  influencer_projects_new_path(influencer_id: @influencer) %>
    <%= link_to "戻る", companies_path %>
  <% end %>



  <a href="#modal" class="modal">qqqqqqqqqqq</a>
  <div id="modal" style="display:none;">
	  <p>これはサンプルです。</p>
  </div>