<h2 class="subject">企業へのレビュー</h2>
  <div class="container">
    <div class="row">
      <%= form_with model: @company_review , url: company_reviews_path(influencer_id: @influencer.id) ,local:true do |f| %>
        <div class="review">
          <%= f.text_area :comment, size: "20x5", placeholder: "企業への感想", class: "form-control form-control-sm" %>
          <div class="star" id="rating-form">
              <label>評価：</label>
              <%# scoreNameの値をhidden_fieldでカラムに送っている %>
              <%= f.hidden_field :rate, :value => 'score' %>
              <%= f.hidden_field :company_id %>
              <%#= f.hidden_field :influencer_id, :value => @influencer.id %>
          </div>
          <%= f.submit "送信する", class: "submit-button" %>
        </div>
      <% end %>
        <script>
            $('#rating-form').raty({
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: '<%= asset_path('star-half.png') %>',
                scoreName: 'company_review[rate]',
                half: true,
            });
        </script>
    </div>
  </div>