

<h2 class="subject">新規案件投稿</h2>
<div class="new-project">
  <%= form_with model: @project, local:true do |f| %>
    <table>
      <tr>
        <td><h4>イメージ画像</h4></td>
        <td><%= f.attachment_field :image %></td>
      </tr>
      <tr>
        <td><h4>報酬</h4></td>
        <td><%= f.text_field :price %></td>
      </tr>
      <tr>
        <td><h4>タイトル</h4></td>
        <td><%= f.text_field :title %></td>
      </tr>
      <tr>
        <td><h4>説明文</h4></td>
        <td><%= f.text_area :details %></td>
      </tr>
      <tr>
        <td><h4>タグ</h4></td>
        <td><%= f.text_field :tag_ids, class: "form-control", id:'project-tags',placeholder: "複数可" %></td>
      </tr>
    </table>
    <div class="table-btn"><%= f.submit '投稿',class:"btn btn-primary" %></div>
  <% end %>
</div>
