<h2 class="subject">新規案件投稿</h2>
  <div class="new-project">
    <%= form_with model: @project, local:true do |f| %>
      <table>
        <tr>
          <td><label for="inputName">イメージ画像</label></td>
          <td><%= f.attachment_field :image %></td>
        </tr>
        <tr>
          <td><label for="inputName">報酬</label></td>
          <td><%= f.text_field :price %></td>
        </tr>
        <tr>
          <td><label for="inputName">タイトル</label></td>
          <td><%= f.text_field :title , :size => "40" %></td>
        </tr>
        <tr>
          <td><label for="inputName">説明文</label></td>
          <td><%= f.text_area :details , rows: 10, cols: 40 %></td>
        </tr>
        <tr>
          <td><label for="inputName">タグ</label></td>
          <td><%= f.text_field :tag_ids, class: "form-control", id:'project-tags',placeholder: "複数可" %></td>
        </tr>
      </table>
      <div class="table-btn"><%= f.submit '投稿',class:"btn btn-primary" %></div>
    <% end %>
  </div>
