<div class="project-post">
  <%= attachment_image_tag @project, :image, format: 'jpeg', size: "400x400" %>
  <p>報酬 : <%= @project.price %></p>
  <p>タイトル：<%= @project.title %></p>
  <p>説明文：<%= @project.details %></p>
  <p>会社名：<%= @project.company.company_name %></p>
  <% @project.tags.each do |tag| %>
     <%= tag.name %>
  <% end %>
  <p>掲載日：<%= @project.created_at.strftime('%Y/%m/%d') %></p>
  <% if @project.company == current_company %>
    <%= link_to "削除", project_path(@project), method: :delete %>
  <% end %>
  <%= link_to "戻る", projects_path %>
</div>