
<h2 class="subject">MyPage</h2>
<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <p>【 会社名 】<%= @company.company_name %></p>
      <p>【 会社概要 】<%= @company.business_detail %></p>
      <p>【 従業員数 】<%= @company.employee_number %></p>
      <p>【 代表者名 】<%= @company.representative_name  %></p>
      <p>【 登録日 】<%= @company.created_at.strftime('%Y/%m/%d') %></p>
      <% if (@company.id == current_company.id) && (current_company.email != "guest1@example.com") %>
        <p><%= link_to "プロフィール編集", edit_company_path(@company),class: 'btn-group' %></p>
      <% end %>
        <%= render 'companies/modal' %>
      <div class="company-review-star">
        <% @company_reviews.each do |company_review| %>
         <div class="review-box" id="star-rate-<%= company_review.id %>"></div>
         <script>
         $('#star-rate-<%= company_review.id %>').raty({
           size: 36,
           starOff:  '<%= asset_path('star-off.png') %>',
           starOn : '<%= asset_path('star-on.png') %>',
           starHalf: '<%= asset_path('star-half.png') %>',
           scoreName: 'influencer[rate]',
           scoreName: 'company[rate]',
           half: true,
           readOnly: true,
           score: <%= company_review.rate %>,
         });
         </script>
        <div class="company-review-box"><%= company_review.rate %></div>
        <div class="company-review-box"><%= company_review.comment %></div>
        <% end %>
         <div class="company-review-box">（平均値<%= @company.avg_rate %>点）</div>
      </div>
    </div>
    <div class="col-lg-7">
      <% @projects.each do |project| %>
      <div>
        <%= link_to project_path(project.id) ,class: 'btn-project' do %>
          <p>【 <%= project.title %> 】</p>
        <% end %>
        <p style= "word-wrap: break-word;">【 概要 】<%= project.details %></p>
      </div>
      <% end %>
    </div>
  </div>
</div>


