
<h2 class="subject">MyPage</h2>
<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <p>【 会社名 】<%= @company.company_name %></p>
      <p>【 会社概要 】<%= @company.business_detail %></p>
      <p>【 従業員数 】<%= @company.employee_number %></p>
      <p>【 代表者名 】<%= @company.representative_name  %></p>
      <p>【 登録日 】<%= @company.created_at.strftime('%Y/%m/%d') %></p>
      <% if (@company.id == current_company.id) && (current_company.email != "guest1@example.com") %>
        <p><%= link_to "プロフィール編集", edit_company_path(@company),class: 'btn-group' %></p>
      <% end %>
        <%= render 'companies/modal' %>
        <div class="review-star">
          <div id="star-rate-<%= @company.id %>">(<%= @company.company_reviews.count %>)</div>
          <div class="review-star">
            <div class="review-box">（星5つ中の<%= @company.avg_rate %>）</div>
            <%= render 'companies/company_review_modal' %>
          </div>
          <script>
          $(document).ready(function() {
           $('#star-rate-<%= @company.id %>').raty({
             size: 36,
             starOff:  '<%= asset_path('star-off.png') %>',
             starOn : '<%= asset_path('star-on.png') %>',
             starHalf: '<%= asset_path('star-half.png') %>',
             scoreName: 'influencer[rate]',
             scoreName: 'company[rate]',
             half: true,
             readOnly: true,
             score: <%= @company.avg_rate %>,
             number: 5
           });
          })
         </script>
        </div>
    </div>
    <div class="col-lg-7">
      <% @projects.each do |project| %>
      <div>
        <%= link_to project_path(project.id) ,class: 'btn-project' do %>
          <p>【 <%= project.title %> 】</p>
        <% end %>
        <p style= "word-wrap: break-word;">【 概要 】<%= project.details %></p>
      </div>
      <% end %>
    </div>
  </div>
</div>


