<h1>申請ページ</h1>
<%= form_with url:  influencer_projects_path, local:true do |f| %>
  <%= f.text_area :message ,:placeholder=>"メッセージ" %>
  <%= f.collection_select(:project_id, current_company.projects, :id, :title) %>
  <%= f.hidden_field :influencer_id , value: @influencer.id%>
  <%= f.submit '投稿' %>
<% end %>