<h2 class="subject">申請詳細</h2>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <%= attachment_image_tag @influencer_project.project, :image, format: 'jpeg', size: "300x300" %>
    </div>
     <div class="col-lg-8">
        <%= form_with model: @influencer_project , local:true do |form|  %>
            <table>
                 <tr>
                    <td><%= link_to @influencer_project.project.title, project_path(@influencer_project.project.id),class: 'btn-project'  %></td>
                 </tr>
                 <tr>
                    <td><p style="word-wrap:break-word;">【 案件内容 】<%= @influencer_project.project.details %></p></td>
                 </tr>
                 <tr>
                    <td><p>【 企業からのメッセージ 】<%= @influencer_project.message %></p></td>
                 </tr>
                 <tr>
                    <td><p>【 企業名 】<%= @influencer_project.project.company.company_name %></p></td>
                 </tr>
                  <tr>
                    <td><%= form.select :status , @statuses, {} %></td>
                  </tr>
                  <tr>
                    <td><%= form.text_area :influencer_message ,:placeholder=>"承諾の場合はご連絡先の入力をお願い致します。" %></td>
                  </tr>
            </table>
            <div class="table-btn"><%= form.submit "送信する" ,class:"btn btn-primary", data: { confirm: "【確認】送信しますか？"} %></div>
         <% end %>
     </div>
  </div>
</div>

