<header class="header-info">
  <% if influencer_signed_in? %>
  <ul>
    <li>
      <%= link_to "JOIN HANDS", root_path, class: "header-logo" %>
    </li>
    <li>
      <%= link_to "ログアウト", destroy_influencer_session_path, method: :delete, data: {confirm: "ログアウトしますか？"},class: "header-btn" %>
    </li>
    <li>
      <%= link_to 'マイページ', influencer_path(current_influencer.id),class: "header-btn" %>
    </li>
    <li>
      <%= link_to '仮ボタン', influencer_project_path(current_influencer.id) ,class: "header-btn" %>
    </li>
  <% else %>
    <li>
      <%= link_to "新規登録 for influencer", new_influencer_registration_path,class: "header-btn" %>
    </li>
    <li>
      <%= link_to "ログイン for influencer", new_influencer_session_path ,class: "header-btn"%>
    </li>
  </ul>
  <% end %>
</header>

<div class="cp_bgpattern20">
  <div class="container">

    <div class="info-title">
      <p class="marker-info">あなたの影響力を活用して企業様の商品やサービスをPRしよう！</p>
    </div>
    <div class="box">
      <div class="img">
        <p><%= image_tag 'Instagram_PNG', class:'info_img' ,:size => '200x200'%></p>
      </div>
      <div class="text-box">
        <h2 class="marker">空いた時間にSNSで仕事ができる！</h2>
        <p>移動中やちょっとした時間を活用できます！</p>
      </div>
    </div>

    <div class="box">
      <div class="img">
        <%= image_tag 'Mobile.png', class:'info_img' ,:size => '200x200'%>
      </div>
      <div class="text-box">
        <h2 class="marker">職業インフルエンサーになろう！</h2>
        <p>様々なジャンルがあるのでいろんな経験ができます！</br>さっそく登録しよう！！</p>
      </div>
    </div>
  </div>
</div>