<% if @model == 'tag' %>
  <h2 class="subject">タグ検索ワード: <%= @content %></h2>
  <div class="row">
    <% if @records.count > 0 %>
      <% @records.each do |project| %>
        <div class="card">
          <%= attachment_image_tag(project, :image, :fill, 250, 250, format: 'jpeg', fallback: "noimage.jpg") %>
          <%= link_to project_path(project.id),class: 'btn-project' do %>
            <p><%= truncate project.title , length: 15 %></p>
          <% end %>
          <% project.tags.each do |tag| %>
          <div class="tags">
            <%= tag.name %>
          </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div class="search-message">検索結果がありません。</div>
    <% end %>
  </div>
<% elsif @model == 'influencer' %>
  <h2 class="subject">インフルエンサー検索ワード: <%= @content %> </h2>
  <div class="row">
    <% if @records.count > 0 %>
      <% @records.each do |influencer| %>
        <div class="card">
          <%= attachment_image_tag(influencer, :image, :fill, 250, 250, format: 'jpeg', fallback: "noimage.jpg") %>
          <%= link_to influencer_path(influencer.id), class: 'btn-project' do %>
            <%= influencer.nickname %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div class="search-message">検索結果がありません。</div>
    <% end %>
  </div>
<% else @model == 'projects' %>
  <h2 class="subject">案件検索ワード: <%= @content %></h2>
  <div class="row">
    <% if @records.count > 0 %>
      <% @records.each do |project| %>
        <div class="card">
         <%= attachment_image_tag(project, :image, :fill, 250, 250, format: 'jpeg', fallback: "noimage.jpg") %>
            <%= link_to project_path(project.id),class: 'btn-project' do %>
              <%= project.title %>
            <% end %>
        </div>
      <% end %>
    <% else %>
      <div class="search-message">検索結果がありません。</div>
    <% end %>
  </div>
<% end %>