<% if @model == 'influencer' %>
  <h3>検索ワード：<%= @content %></h3>
  <% @records.each do |influencer| %>
    <%= attachment_image_tag(influencer, :image, :fill, 300, 300, format: 'jpeg', fallback: "sample-author1.jpg") %>
    <%= influencer.nickname %><br>
  <% end %>
<% else @model == 'projects' %>
  <h3>検索ワード：<%= @content %></h3>
    <% @records.each do |project| %>
    <%= attachment_image_tag project, :image, format: 'jpeg', size: "200x200" %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.details %></td>
      </tr>
    <% end %>
<% end %>