<% if @model == 'tag' %>
<h2 class="subject">タグ検索ワード: <%= @content %></h2>
  <div class="row">
    <% @records.each do |project| %>
      <div class="card">
        <%= attachment_image_tag project, :image, format: 'jpeg', size: "250x250" %>
        <%= link_to project_path(project.id),class: 'btn-project' do %>
          <p><%= truncate project.title , length: 15 %></p>
        <% end %>
        <% project.tags.each do |tag| %>
        <div class="tags">
          <%= tag.name %>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% else @model == 'projects' %>
  <h2 class="subject">案件検索ワード: <%= @content %></h2>
  <div class="row">
    <% @records.each do |project| %>
      <div class="card">
        <%= attachment_image_tag project, :image, format: 'jpeg', size: "250x250" %>
        <tr>
          <%= link_to project_path(project.id),class: 'btn-project' do %>
            <td><%= project.title %></td>
          <% end %>
        </tr>
      </div>
    <% end %>
  </div>
<% end %>