<h2 class="subject"><%= @influencer.nickname %>さんへのレビュー</h2>
  <div class="container">
    <div class="row">
        <%= form_with url:review_post_project_path(@project, @influencer) ,local:true do |f| %>
          <div class="review">
            <%= f.text_area :comment, size: "20x5", placeholder: "インフルエンサーへの感想", class: "form-control form-control-sm" %>
            <div class="star" id="rating-form">
                <label>評価：</label>
                <%# scoreNameの値をhidden_fieldでカラムに送っている %>
                <%= f.hidden_field :rate, :value => 'score' %>
            </div>
            <%= f.submit "送信する", class: "submit-button" %>
          </div>
        <% end %>
        <script>
            $('#rating-form').raty({
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: '<%= asset_path('star-half.png') %>',
                scoreName: 'review[rate]',
                half: true,
            });
        </script>
    </div>
  </div>
