<!DOCTYPE html>
<html>
  <head>
    <title>JOIN HANDS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--<link rel="stylesheet" href="modaal.min.css">-->
    <!--<script src='//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>-->
    <!--<script src="modaal.min.js"></script>-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header-info">
        <% if company_signed_in? %>
        <ul>
          <li class="header-logo">
            <%= link_to "JOIN HANDS", root_path, class: "header-logo" %>
          </li>
          <li class="search">
            <%= render 'searchs/form' %>
          </li>
          <li>
            <%= link_to 'インフルエンサー一覧', companies_path,class: "header-btn" %>
          </li>
          <li>
            <%= link_to '案件一覧', projects_path ,class: "header-btn" %>
          </li>
          <li>
            <%= link_to '投稿フォーム', new_project_path ,class: "header-btn" %>
          </li>
          <li>
            <%= link_to 'マイページ', company_path(current_company.id) ,class: "header-btn" %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_company_session_path, method: :delete, data: {confirm: "ログアウトしますか？"} ,class: "header-btn" %>
          </li>
        <% else %>
          <li>
            <%= link_to "新規登録 for company", new_company_registration_path ,class: "header-btn" %>
          </li>
          <li>
            <%= link_to "ログイン for company", new_company_session_path ,class: "header-btn" %>
          </li>
        </ul>
        <% end %>
    </header>
        <% if flash[:success] %>
        <div class="flash">
          <%= flash[:success] %>
        </div>
        <% end %>
    <!--for company page-->
    <%= yield %>

  </body>
</html>
