<!DOCTYPE html>
<html>
  <head>
    <title>JOIN HANDS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

      <% if influencer_signed_in? %>

        <li>
          <%= link_to "インフルエンサー側ログアウト", destroy_influencer_session_path, method: :delete %>
        </li>
        <li>
          <%= link_to 'マイページ', influencer_path(current_influencer.id) %>
        </li>
      <% else %>
        <li>
          <%= link_to "インフルエンサー側新規登録", new_influencer_registration_path %>
        </li>
        <li>
          <%= link_to "インフルエンサー側ログイン", new_influencer_session_path %>
        </li>
      <% end %>
    </header>

    <%= yield %>

  </body>
</html>
